{{ define "main" }}
  <main>
    <article>
      <header>
        <h1>{{ .Title }}</h1>
      </header>
      {{ .Content }}
    </article>
    <div class="articles">
      <!-- List all articles -->
      {{ range .Site.RegularPages }}
        <div class="article-block">
          <div class="article-header">
            <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
            {{ if .Params.icon }}
              <div class="icon">
                {{ partial "icons/icon" (dict "vendor" .Params.iconvendor "name" .Params.icon "color" .Params.iconcolor "size" "3em") }}
              </div>
            {{ end }}
          </div>
          <p class="description">{{ .Params.description }}</p>
          <p class="date">{{ .Date.Format "2006-01-02" }}</p>
        </div>
      {{ end }}
    </div>
  </main>
{{ end }}
