/* Global customization */

:root {
  --code-max-height: 60rem;
}

/* Light mode theming */
:root,
:root[color-theme="light"] {
  --body-background: #eeeeee;
  --body-font-color: #2b2d30;
  --header-background: #2b2d30;
  --header-font-color: #eaeaea;
  --mark-color: #b294bb;
  --button-background: #bd93f9;
  --button-border-color: #bd93f9;
  --link-color: #556a7d;
  --link-color-visited: #556a7d;
  --code-background: #cfcdcd;
  --code-accent-color: #eaeaea;
  --code-accent-color-lite: #eaeaea;
  --code-font-color: #2b2d30;
  --code-copy-background: #666666;
  --code-copy-font-color: #cfcdcd;
  --code-copy-border-color: #2b2d30;
  --code-copy-success-color: #b9ca4a;
  --accent-color: #dddddd;
  --accent-color-lite: #dddddd;
  --control-icons: #c5c8c6;
  --footer-background: #2b2d30;
  --footer-font-color: #2b2d30;
  --footer-link-color: #70c0b1;
  --footer-link-color-visited: #70c0b1;
  --icon-color: #c5c8c6;
}
@media (prefers-color-scheme: light) {
  :root {
    --body-background: #eeeeee;
    --body-font-color: #2b2d30;
    --header-background: #666666;
    --header-font-color: #eaeaea;
    --mark-color: #b294bb;
    --button-background: #bd93f9;
    --button-border-color: #bd93f9;
    --link-color: #556a7d;
    --link-color-visited: #556a7d;
    --code-background: #cfcdcd;
    --code-accent-color: #eaeaea;
    --code-accent-color-lite: #eaeaea;
    --code-font-color: #2b2d30;
    --code-copy-background: #666666;
    --code-copy-font-color: #cfcdcd;
    --code-copy-border-color: #2b2d30;
    --code-copy-success-color: #b9ca4a;
    --accent-color: #dddddd;
    --accent-color-lite: #dddddd;
    --control-icons: #c5c8c6;
    --footer-background: #666666;
    --footer-font-color: #2b2d30;
    --footer-link-color: #70c0b1;
    --footer-link-color-visited: #70c0b1;
    --icon-color: #c5c8c6;
  }
}

/* Dark mode theming */
:root[color-theme="dark"] {
  --header-background: #2b2d30;
  --header-font-color: #c5c8c6;
  --body-background: #1d1f21;
  --body-font-color: #c5c8c6;
  --mark-color: #b294bb;
  --button-background: #bd93f9;
  --button-border-color: #bd93f9;
  --link-color: #81a2be;
  --link-color-visited: #81a2be;
  --code-background: #2b2d30;
  --code-accent-color: #282a36;
  --code-accent-color-lite: #282a36;
  --code-font-color: #c5c8c6;
  --code-copy-background: #282a36;
  --code-copy-font-color: #c5c8c6;
  --code-copy-border-color: #282a36;
  --code-copy-success-color: #b5bd68;
  --accent-color: #2b2d30;
  --accent-color-lite: #2b2d30;
  --control-icons: #c5c8c6;
  --footer-background: #2b2d30;
  --footer-font-color: #c5c8c6;
  --footer-link-color: #81a2be;
  --footer-link-color-visited: #81a2be;
  --icon-color: #c5c8c6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --header-background: #2b2d30;
    --header-font-color: #c5c8c6;
    --body-background: #1d1f21;
    --body-font-color: #c5c8c6;
    --mark-color: #b294bb;
    --button-background: #bd93f9;
    --button-border-color: #bd93f9;
    --link-color: #81a2be;
    --link-color-visited: #81a2be;
    --code-background: #2b2d30;
    --code-accent-color: #282a36;
    --code-accent-color-lite: #282a36;
    --code-font-color: #c5c8c6;
    --code-copy-background: #282a36;
    --code-copy-font-color: #c5c8c6;
    --code-copy-border-color: #282a36;
    --code-copy-success-color: #b5bd68;
    --accent-color: #2b2d30;
    --accent-color-lite: #2b2d30;
    --control-icons: #c5c8c6;
    --footer-background: #2b2d30;
    --footer-font-color: #c5c8c6;
    --footer-link-color: #81a2be;
    --footer-link-color-visited: #81a2be;
    --icon-color: #c5c8c6;
  }
}

html {
  font-size:15px;
  letter-spacing:.33px;
  scroll-behavior:smooth
}
/* Articles grid */
.articles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.article-block {
  position: relative;
  border: 1px solid var(--accent-color);
  padding: 15px;
  border-radius: 5px;
  background-color: var(--body-background);
  color: var(--body-font-color);
}

.article-block .article-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.article-block h2 {
  font-size: 1.3em;
  margin-top: 0;
  margin-right: 2px; /* Add space between h2 and icon */
}

.article-block .description {
  font-size: 1em;
  margin: 10px 0;
}

.article-block .date {
  font-size: 0.8em;
  color: var(--control-icons);
  text-align: right;
}

.article-block .icon {
  flex-shrink: 0; /* Prevent the icon from shrinking */
  height: auto; /* Maintain aspect ratio */
}


.article-footer {
  border-top: 1px solid var(--accent-color);
  margin-top: 20px;
  padding-top: 10px;
}

.article-footer p {
  margin: 5px 0;
}

.article-footer a {
  color: var(--link-color);
}

.article-footer a:hover {
  text-decoration: underline;
}

.align-right {
  text-align: right;
}
.gdoc-nav__entry {
  font-size: 0.97em;
}