/* Global customization */

:root {
    --code-max-height: 60rem;
  }
  
  /* Light mode theming */
  :root,
  :root[color-theme="light"] {
    --header-background: #44475a;
    --header-font-color: #f8f8f2;


    --footer-background: #44475a;
    --footer-font-color: #f8f8f2;
    --footer-link-color: #f1fa8c;
    --footer-link-color-visited: #f1fa8c;
  }
  @media (prefers-color-scheme: light) {
    :root {
        --header-background: #44475a;
        --header-font-color: #f8f8f2;
    
    
        --footer-background: #44475a;
        --footer-font-color: #f8f8f2;
        --footer-link-color: #f1fa8c;
        --footer-link-color-visited: #f1fa8c;
    }
  }
  
/* Dark mode theming */
:root[color-theme="dark"] {
    --header-background: #44475a;
    --header-font-color: #f8f8f2;

    --body-background: #282a36;
    --body-font-color: #f8f8f2;

    --mark-color: #ff79c6;

    --button-background: #bd93f9;
    --button-border-color: #bd93f9;

    --link-color: #8be9fd;
    --link-color-visited: #8be9fd;

    --code-background: #1c1d25;
    --code-accent-color: #282a36;
    --code-accent-color-lite: #282a36;
    --code-font-color: #f8f8f2;

    --code-copy-background: #282a36;
    --code-copy-font-color: #f8f8f2;
    --code-copy-border-color: #282a36;
    --code-copy-success-color: #50fa7b;

    --accent-color: #44475a;
    --accent-color-lite: #44475a;

    --control-icons: #f8f8f2;

    --footer-background: #282a36;
    --footer-font-color: #f8f8f2;
    --footer-link-color: #f1fa8c;
    --footer-link-color-visited: #f1fa8c;
}

  @media (prefers-color-scheme: dark) {
    :root {
    --header-background: #44475a;
    --header-font-color: #f8f8f2;

    --body-background: #282a36;
    --body-font-color: #f8f8f2;

    --mark-color: #ff79c6;

    --button-background: #bd93f9;
    --button-border-color: #bd93f9;

    --link-color: #8be9fd;
    --link-color-visited: #8be9fd;

    --code-background: #1c1d25;
    --code-accent-color: #282a36;
    --code-accent-color-lite: #282a36;
    --code-font-color: #f8f8f2;

    --code-copy-background: #282a36;
    --code-copy-font-color: #f8f8f2;
    --code-copy-border-color: #282a36;
    --code-copy-success-color: #50fa7b;

    --accent-color: #44475a;
    --accent-color-lite: #44475a;

    --control-icons: #f8f8f2;

    --footer-background: #282a36;
    --footer-font-color: #f8f8f2;
    --footer-link-color: #f1fa8c;
    --footer-link-color-visited: #f1fa8c;
    }
  }